.value{
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background-image: url("/assets/background/slide-2.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover; 
}

.value .row{
    /* width: 100%;
    max-width: 100vw; */
    text-align: center;
}

.mask{
    width: 100%;
    max-width: 100vw;
    background-color: rgba(44, 56, 78, 0.5);
    min-height: 100vh;
    background-size: 100vh 100%;
}

.value .container{
    padding-top: 10vh;
}

.value .section-title{
    display: inline;
    font-size: 2em;
    font-weight: 500;
    color: #1c2331;
    background-color: #fbdb54;
    border-radius: 8px;
}

.value .section-subtitle{
    font-size: 1.5em;
    font-weight: 300;
    color: aliceblue;
}

.value .card{
    height: 60vh;
    background-color: rgba(255, 255, 255, 0)
}

.value .icon{
    text-align: center;
    font-size: 5em;
    color: #fbdb54;
    border-radius: 8px;
}

.value .card-title{
    font-size: 1.5em;
    font-weight: 700;
    color: #1c2331;
    background-color: #fbdb54;
    border-radius: 8px;
}

.value .card-desc{
    font-size: 1.2em;
    font-weight: 300;
    color: aliceblue;
}

.value .text-desktop{
    display: block;
}

.value .text-mobile{
    display: none;
}

@media screen and (min-width: 1921px){
    .value{
        width: 100%;
        max-width: 100vw;
        min-height: 100vh;
        background-image: url("/assets/background/slide-2.jpg");
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-size: cover; 
    }
    
    .value .container{
        padding-top: 10vh;
        max-width: 1800px;
    }
    
    .value .section-title{
        display: inline;
        font-size: 5em;
        font-weight: 500;
        color: #1c2331;
        background-color: #fbdb54;
        border-radius: 8px;
    }
    
    .value .section-subtitle{
        font-size: 3.5em;
        font-weight: 300;
        color: aliceblue;
    }
    
    .value .card{
        height: 60vh;
        background-color: rgba(255, 255, 255, 0)
    }
    
    .value .icon{
        text-align: center;
        font-size: 8em;
        color: #fbdb54;
        border-radius: 8px;
    }
    
    .value .card-title{
        font-size: 4em;
        font-weight: 700;
        color: #1c2331;
        background-color: #fbdb54;
        border-radius: 8px;
    }
    
    .value .card-desc{
        font-size: 3em;
        font-weight: 300;
        color: aliceblue;
    }
    
}

@media screen and (max-width: 800px){
    .value .section-title{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 576px){
    .value{
        background-image: url("/assets/background/slide-2-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .value .text-desktop{
        display: none;
    }
    
    .value .text-mobile{
        display: block;
    }
    
    .value .section-title{
        font-size: 1.3em;
        font-weight: bold;
    }

    .value .card-title{
        font-size: 1.3em;
    }

    .value .card-desc{
        display: none;
    }

    .value .icon{
        text-align: center;
        font-size: 4em;
        color: #fbdb54;
        border-radius: 8px;
    }

    .value .section-subtitle{
        font-size: 1em;
        font-weight: 500;
        color: aliceblue;
    }
}