.tabledata-order{
    text-align: left;
}

.tabledata-order .detail-btn{
    display: block;
    width: 200px;
    text-align: center;
    border: none;
    background-color: #0099CC;
    color: aliceblue;
    border-radius: 32px;
    padding: 5px 20px;
    margin: 20px;
    transition: 0.5s;
}
