.product-list{
    font-size: 1em;
}

.product-list .section-title{
    color: #2E2E2E;
    font-size: 1.75em;
    font-weight: bold;
    text-decoration: underline;
}

.product-list .card{
    text-align: center;
}

.product-list .card-text{
    color: #2E2E2E;
    font-size: 1.2em;
    font-weight: bold;
}

.product-list .card-date{
    color: #ffbb33;
    font-size: 1em;
    font-weight: bold;
}

.product-list .card-status{
    color: #00C851;
    font-size: 1em;
    font-weight: bold;
}

.product-list .card-unit{
    color: #33b5e5;
    font-size: 1em;
    font-weight: bold;
}

.product-list .card-price{
    color: #ff4444;
    font-size: 1em;
    font-weight: bold;
}

.product-list .product-btn{
    display: inline-block;
    text-align: right;
    background-color: #00C851;
    color: aliceblue;
    bproduct-radius: 32px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.product-list .product-btn:hover{
    background-color: #ffffff;
    bproduct: solid 1px #00C851;
    color: #00C851;
    bproduct-radius: 32px;
    padding: 5px;
    transition: 0.5s;
}

.product-list i{
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 576px){
    .product-list .cart-wrapper{
        overflow-x: scroll;
    }

    .product-list table {
        font-family: arial, sans-serif;
        bproduct-collapse: collapse;
        width: 100%;
    }    
}
