.about{
    width: 100%;
    max-width: 100vw;
    /* min-height: 100vh; */
    background-image: url("/assets/background/slide-3.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* *, *::before, *::after{
    border: solid 1px red;
} */

.about .row{
    /* width: 100%;
    max-width: 100vw; */
    text-align: center;
}

.mask{
    background-color: rgba(44, 56, 78, 0.3);
    width: 100%;
    max-width: 100vw;
    /* min-height: 100vh; */
}

.about .container{
    padding-top: 50px;
    padding-bottom: 20vh;
}

.about .section-title{
    display: inline-block;
    font-size: 2em;
    font-weight: 500;
    color: #1c2331;
    background-color: #fbdb54;
    border-radius: 8px;
}

.about .section-subtitle{
    margin: 0% auto;
    max-width: 800px;
    font-size: 1.5em;
    font-weight: 300;
    color: #1c2331;
}

.about .highlight{
    font-weight: 500;
    color: #1c2331;
    background-color: #fbdb54;
    border-radius: 8px;
}

.about .icon{
    text-align: center;
    font-size: 8em;
    color: #fbdb54;
    border-radius: 8px;
}

.about .card-title{
    font-size: 1.5em;
    font-weight: 700;
    color: #1c2331;
}

.about .img-size{
    width: 15vw;
    height: 15vh;
    margin: 5vh auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.about .img-size-logo{
    width: 15vw;
    height: 15vh;
    margin: 0vh auto;
    margin-bottom: 5vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 992px){    
    .about{
        background-image: url("/assets/background/slide-3.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150vh;
        background-position: center center;
    }

    .about .container{
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .about .section-title{
        font-size: 2em;
        font-weight: 500;
    }

    .about .section-subtitle{
        color: #1c2331;
        display: none;
    }
    
    .about .card-title{
        color: #1c2331;
    }
    
    .about .img-size-logo{
        width: 15vw;
        height: 15vh;
        margin: 5vh auto;
        margin-bottom: 5vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 768px){    
    .about{
        background-image: url("/assets/background/slide-3-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .about .container{
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .about .section-title{
        font-size: 2em;
        font-weight: 500;
    }

    .about .section-subtitle{
        color: #1c2331;
        display: none;
    }
    
    .about .card-title{
        color: #1c2331;
    }
    
    .about .img-size-logo{
        width: 15vw;
        height: 15vh;
        margin: 5vh auto;
        margin-bottom: 5vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 576px){    
    .about{
        background-image: url("/assets/background/slide-3-mobile.png");
        background-repeat: no-repeat;
        background-size: 100% 150vh;
        background-position: center center;
    }

    .about .container{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .about .section-title{
        font-size: 2em;
        font-weight: bold;
    }

    .about .section-subtitle{
        color: #1c2331;
        display: none;
    }
    
    .about .card-title{
        color: #1c2331;
    }
    
    .about .img-size{
        width: 15vw;
        height: 15vh;
        margin: 0 auto;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .about .img-size-logo{
        width: 25vw;
        height: 25vh;
        margin: 0vh auto;
        margin-bottom: 1vh;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
