.konveksiana-carousel{
    background-color: #2E2E2E;
}

.carousel .carousel-indicators li {
    background-color: #2E2E2E;
}



@media screen and (min-width: 1921px){
    img.w-100{
        max-width: 120px;
    }    
}

@media screen and (max-width: 800px){
    img.w-100{
        margin-top: 10vh;
    }    
}