.order{
    min-height: 100vh;
    background-image: url("/assets/background/slide-4.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
}

.order .row{
    /* width: 100%;
    max-width: 100vw; */
    text-align: center;
}

.mask{
    background-color: rgba(44, 56, 78, 0.3);
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
}

.order .container{
    padding-top: 10vh;
}

.order .section-title{
    display: inline-block;
    font-size: 2em;
    font-weight: 500;
    color: #1c2331;
    background-color: #fbdb54;
    border-radius: 8px;
    text-align: center;
}

.order .section-subtitle{
    font-size: 1.5em;
    font-weight: 300;
    color: aliceblue;
}

.order .card{
    height: 70vh;
}

.order .icon{
    text-align: center;
    font-size: 5em;
    /* color: #fbdb54; */
    color: aliceblue;
    border-radius: 8px;
}

.order .card-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #1c2331;
    background-color: #fbdb54;
    border-radius: 8px;
}

.order .card-title-2{
    font-size: 1.3em;
    font-weight: bold;
    color: #1c2331;
    background-color: #fbdb54;
    border-radius: 8px;
}

.order .card-desc{
    font-size: 1.2em;
    font-weight: 500;
    color: aliceblue;
}

.order .desktop{
    display: block;
}

.order .mobile{
    display: none;
}

@media screen and (min-width: 1921px){
    .order{
        min-height: 100vh;
        background-image: url("/assets/background/slide-4.jpg");
        /* background-attachment: fixed; */
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .order .container{
        padding-top: 10vh;
        max-width: 1800px;
    }
    
    .order .section-title{
        display: inline-block;
        font-size: 5em;
        font-weight: 500;
        color: #1c2331;
        background-color: #fbdb54;
        border-radius: 8px;
        text-align: center;
    }
    
    .order .section-subtitle{
        font-size: 1.5em;
        font-weight: 300;
        color: aliceblue;
    }
    
    .order .card{
        height: 70vh;
    }
    
    .order .icon{
        text-align: center;
        font-size: 5em;
        /* color: #fbdb54; */
        color: aliceblue;
        border-radius: 8px;
    }
    
    .order .card-title{
        font-size: 3.25em;
        font-weight: bold;
        color: #1c2331;
        background-color: #fbdb54;
        border-radius: 8px;
    }
    
    .order .card-title-2{
        font-size: 3.25em;
        font-weight: bold;
        color: #1c2331;
        background-color: #fbdb54;
        border-radius: 8px;
    }
    
    .order .card-desc{
        font-size: 2.75em;
        font-weight: 500;
        color: aliceblue;
    }
    
}

@media screen and (max-width: 768px){
    .order .section-title{
        font-size: 1.5em;
    }

    .order .icon{
        font-size: 3em;
    }

    .order .card-title{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 576px){
    .order{
        background-image: url("/assets/background/slide-4-mobile.png");
        background-repeat: no-repeat;
        /* background-size: 100% 150vh; */
        background-position: center center;
    }
    
    .order .desktop{
        display: none;
    }
    
    .order .mobile{
        display: block;
    }

    .order .section-title{
        font-size: 1.3em;
        font-weight: bold;
    }

    .order .icon{
        font-size: 3em;
    }

    .order .card-title{
        font-size: 1.5em;
    }

    .order .card-desc{
        font-size: 1em;
    }
}
