.portfolio{
    background-color: #f6f7fd;
    min-height: 70vh;
    max-height: 90vh;
    overflow: hidden;
}

.portfolio .portfolio-container{
    /* overflow: hidden; */
    padding-top: 10vh;
}

.portfolio .section-title{
    color: #1c2331;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
}

.portfolio .text-center{
    text-align: center;
    width: 100%;
}

.portfolio .img-size{
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}

@media screen and (max-width: 800px){
    .portfolio .img-size{
        background-size: 100vw auto;
    }
}

@media screen and (max-width: 400px){
    .portfolio .img-size{
        background-size: 80vw auto;
    }
}