.konvek-header .img-size{
    width: 15vw;
    height: 5vh;
    margin: 5px auto;
    background-position: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
}

.login{
    background-color: #00C851;
}

.signup{
    color: #3f51b5;
}

@media screen and (max-width: 576px){
    .konvek-header .img-size{
        width: 50vw;
        height: 15vh;
        background-position: center;
        /* background-size: contain; */
        background-repeat: no-repeat;
    }
}